body {


    background-color:#EDF5E1;
    
    }
    h1 {
    
    text-align:center;
    
    }
    .inline {
    
    display:inline-block;
    
    }
    #number {
    
    width:90px;
    
    }
    
    